<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>test</title>
  <link rel="stylesheet" src="/static/css/chess_style"></link>
</head>
<body>
  <canvas id="board"></canvas>
</body>
<script src="/static/js/chess.js"></script>
<script>
  var data="{{ data }}"
  var rows=data.split('?')[0].split('/')
  var current=data.split('?')[1]
  var j=0
  for (var row of rows) {
    for (var i=0;i<row.length;i=i+2){
      if (row.slice(i,i+2).charAt(1)!="o"){
        var s=row.slice(i,i+2)
        if (/^[a-z]$/.test(s.charAt(1))) {
          draw_chess(s,"black/"+s.charAt(1)+".svg",j*128+7.75,i/2*128+7.75)
        } else {
          draw_chess(s,"white/"+s.charAt(1)+".svg",j*128+7.75,i/2*128+7.75)
        }
      }
    }
    j++
  }
</script>
</html>