<html>
   <head>
   </head>
   <link rel="stylesheet" href="/static/css/style.css">
   <body>
      <form action = "{{ url_for('login') }}" method = "post">
         <div class="container">
            <div class="header">
               <h1>Login</h1>
            </div>
            <div class="panel">
               <form onsubmit="removeSpaces()">
                  <span>
                     <input type="text" name="username" placeholder="Username" required onkeyup="this.value=this.value.replace(/\s+/g,'')">
                  </span><br>
                  <span>
                     <input type="password" name="password" placeholder="Password" required>
                  </span><br>
                  <button class="submit">Submit</button>
               </form><br>
               <a href="/register">No accounts? Register here</a>
            </div>
         </div>
      </form>
      {% with messages = get_flashed_messages(category_filter=['error']) %}
         {% if messages %}
            <ul class="errors">
               {% for message in messages %}
                  <li>{{ message }}</li>
               {% endfor %}
            </ul>
         {% endif %}
      {% endwith %}
      {% with messages = get_flashed_messages(category_filter=['info']) %}
         {% if messages %}
            <ul class="infos">
               {% for message in messages %}
                  <li>{{ message }}</li>
               {% endfor %}
            </ul>
         {% endif %}
      {% endwith %}
   </body>
</html>
